<p id="footnotes">
    <span id="footnote1">
        [1] Les personnes souhaitant bénéficier de l'une de ces exceptions
        doivent se munir s'il y a lieu, lors de leurs déplacements hors de leur
        domicile, d'un document leur permettant de justifier que le déplacement
        considéré entre dans le champ de l'une de ces exceptions. </span
    ><br />
    <span id="footnote2">
        [2] A utiliser par les travailleurs non salariés, lorsqu'ils ne peuvent
        disposer d'un justificatif de déplacement établi par leur employeur. </span
    ><br />
    <span id="footnote3">
        [3] Y compris les acquisitions à titre gratuit (distribution de denrées
        alimentaires...) et les déplacements liés à la perception de prestations
        sociales et au retrait d'espèces. </span
    ><br />
</p>
