@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --background-color: #f1f4fb;
    --foreground-color: #242731;
    --dark-background: #0a1f41; 
    --dark-foreground: #c2cafd;
    --box-background: #fefefe;
    --box-text-color: #242731;
    --box-shadow: 0px 2px 10px rgba(7, 23, 48, 0.4);
    --qr-code-dark-color: var(--box-text-color);
    --qr-code-light-color: var(--box-background);
    --inputs-background-color: transparent;
    --input-placeholder-color: #9b9b9b;
    --inputs-color: #212121;
    --inputs-focus-color: #d8400d;
    --inputs-autofill-color: #225dd2;
    --reasons-color: #d8400d;
    --link-visited-color: #7c0cc1;
    --link-color: #0094c7;
    --highlight-color: #FF000055;
}
html {
    font-family: "Lato", sans-serif;
    background-color: var(--background-color);
    margin: 0;
}
h1 {
    text-align: center;
    /* margin-bottom: 30px; */
    text-transform: capitalize;
    font-size: 42px;
}
#header {
    margin: 0;
    background: aquamarine;
    overflow: overlay;
    margin-bottom: 30px;
}
#headline {
    overflow: overlay;
    background: var(--dark-background);
    color: var(--dark-foreground);
}
.explanations {
    margin: 30px auto;
    max-width: 600px;
}
.explanations .dialogue {
    margin-left: 30px;
}
.explanations p.tips {
    font-style: italic;
}
#social-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 200px;
    width: 50%;
    margin: 30px auto;
}
#url-div {
    border-bottom: 1px solid #444;
    margin-bottom: 50px;
}
#url-container {
    overflow-wrap: anywhere;
    margin: 30px auto;
    text-align: center;
}
@media screen {
    #box {
        position: relative;
        width: 95%;
        max-width: 1200px;
        margin: 30px auto;
        background-color: var(--box-background);
        border-radius: 7px;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        color: var(--box-text-color);
    }
    #github {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
    }
    #github a {
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items:center;
        color: #c2cafd;
    }
    #github svg {
        fill: #c2cafd;
    }
    a {
        color: var(--link-color);
    }
    a:hover {
    }
    a:visited {
        color: var(--link-visited-color);
    }
    h1, h3 {
        color: var(--highlight-color-1)!important;
    }
    .qrcode-div {
        color: var(--highlight-color-1);
    }
}
#box-content {
    display: grid;
    grid-template-columns: calc(350px + 10%) 1fr;
    grid-column-gap: 60px;
    padding: 10px 30px;
}
#qrcodes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#qrcodes-container h2 {
    margin-top: 0;
}
canvas {
    margin: 5px 0 30px 0;
    max-width: 260px;
    max-height: 260px;
    min-width: 260px;
    min-height: 260px;
}
#url-copy-div button {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 7px;
    transition: background-color .2s ease-out;
}
.qrcode-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qrcode-div h2 {
    text-align: center;
    margin: 0;
}
.qrcode-div p {
    margin: 0;
}
#reasons-list {
    color: var(--reasons-color);
}
.center {
    margin: 0 auto;
}
#inputs {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0px;
    row-gap: 10px;
}
label {
    font-weight: 700;
    color: var(--text-color-bright);
    text-align: right;
    margin: auto 20px auto 0;
    padding: 5px;
    font-size: small;
}
label.reasons {
    margin-top: 10px;
}
input {
    padding: 5px;
    width: 100%;
}
input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover {
    border-bottom: 2px solid var(--inputs-autofill-color);
    -webkit-text-fill-color: var(--inputs-autofill-color);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    color: var(--inputs-autofill-color);
}
input {
    border: none;
}
input {
    padding: 10px 1px 10px 1px;
    background-color: var(--inputs-background-color);
    border-radius: 0;
    border-bottom: 2px solid var(--inputs-color);
    color: var(--inputs-color);
    transition: border .5s ease;
}
input::placeholder {
    color: var(--input-placeholder-color);
    font-weight: 300;
}
input:focus {
    outline: none;
    border-bottom-color: var(--inputs-focus-color);
    color: var(--inputs-focus-color);
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
::-webkit-calendar-picker-indicator {
    display: none;
}
#submit-div {
    margin: 50px auto 0 auto;
}
select {
    margin-top: 15px; 
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    color: var(--foreground-color);
    border: none;
    /* background-color: #0a1f4108; */
    background-color: #7fffd477;
}
select:focus {
    outline: none;
}
option {
    padding: 2px 5px;
}
option::after {
    content: attr('data-icon');
}
select[multiple] option:checked {
    background: var(--highlight-alt-color-2) linear-gradient(0deg, var(--highlight-alt-color-2) 0%, var(--highlight-alt-color-2) 100%);
}
select[multiple]:focus option:checked {
    background: var(--highlight-alt-color-3) linear-gradient(0deg, var(--highlight-alt-color-3) 0%, var(--highlight-alt-color-3) 100%);
}
#url-copy-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
ul:not(.browser-default)>li {
    list-style-type: none;
}
.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0;
}
.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.collapsible-header:focus {
    outline: 0;
}
.collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
}
.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
}

option.tooltipped {
    cursor: pointer;
    transition: color .2s ease;
    color: var(--foreground-color);
}
option.tooltipped:hover {
    color: var(--inputs-focus-color);
}
.material-tooltip {
    padding: 30px;
    border-radius: 7px;
    font-size: 1rem;
    z-index: 2000;
    background-color: transparent;
    border-radius: 2px;
    color: #fff;
    min-height: 36px;
    line-height: 1.5rem;
    opacity: 0;
    position: absolute;
    text-align: justify;
    width: 300px;
    max-width: calc(50% - 4px);
    overflow: hidden;
    left: 0;
    top: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: #323232;
    box-shadow: var(--box-shadow);
}
.material-tooltip h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 32px;
}
.material-tooltip .reason-tooltip {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

[id^=footnote] {
    width: 90%;
    margin: 30px auto;
    max-width: 400px;
    font-size: .8em;
    color: #222;
}

/* #hidden-url {
    display: none;
} */
.visible-on-print-only {
    display: none;
}
@media print {
    html {
        background-color: white;
        width: 21cm;
        height: 29.7cm;
    }
    .hidden-on-print, #header, #form-part, #github, #explanations, [id^=footnote] {
        display: none;
    }
    .visible-on-print-only {
        display: initial;
    }
    #box-content {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    body,
    #box,
    #box-content,
    #qrcodes-container {
        height: 100%;
        width: 100%;
    }
    #qrcodes-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 90px;
    }
    .owner-name {
        color: var(--reasons-color);
    }
    .qrcode-div p,
    #qrcodes-list h3 {
        text-align: center;
    }
}
@media only screen and (max-width: 900px) {
    body {
        margin: 0;
    }
    #box {
        box-shadow: none;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    #box-content {
        display: block;
    }
    /* #qrcodes-container {
        display: none;
    } */
    label {
        font-size: small;
    }
    .material-tooltip {
        display: none;
    }
    h1 {
        margin: 60px 0;
    }
}