@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
    font-family: "Lato", sans-serif;
    background-color: #f1f4fb;
    margin: 0;
}
h1 {
    text-align: center;
    /* margin-bottom: 30px; */
    text-transform: capitalize;
}
#explanations {
    margin: 60px auto;
    max-width: 600px;
}
#explanations p.tips {
    font-style: italic;
}
#url-div {
    border-bottom: 1px solid #444;
    margin-bottom: 50px;
}
#url-container {
    overflow-wrap: anywhere;
    margin: 30px auto;
    text-align: center;
}
@media screen {
    #box {
        position: relative;
        width: 80%;
        max-width: 800px;
        margin: 30px auto;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 30px;
        box-shadow: 0px 2px 10px rgba(7, 23, 48, 0.4);
    }
    #github {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
    }
    #github a {
        text-decoration: none;
        color: blueviolet;
        font-weight: bold;
        display: flex;
        align-items:center;
    }
    #github svg {
        fill: blueviolet;
    }
}
#box-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
#qrcodes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
canvas {
    max-width: 260px;
    max-height: 260px;
    min-width: 260px;
    min-height: 260px;
}
#url-copy-div button {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 7px;
}
.qrcode-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qrcode-div h2 {
    text-align: center;
    margin: 0;
}
.qrcode-div p {
    margin: 0;
}
.center {
    margin: 0 auto;
}
#inputs {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0px;
    row-gap: 10px;
}
label {
    font-weight: bolder;
    color: cornflowerblue;
    text-align: right;
    margin: auto 20px auto 0;
    padding: 5px;
}
label.reasons {
    margin-top: 10px;
}
input {
    padding: 5px;
    width: 100%;
}
input[type="text"], input[type="date"] {
    border: none;
    border-bottom: 1px solid black;
}
#submit-div {
    margin: 50px auto 0 auto;
}
select {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
}
#url-copy-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* #hidden-url {
    display: none;
} */
@media print {
    html {
        background-color: white;
        width: 21cm;
        height: 29.7cm;
    }
    #form-part, #github, #explanations {
        display: none;
    }
    #box-content {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    body,
    #box,
    #box-content,
    #qrcodes-container {
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    #box-content {
        display: block;
    }
    #qrcodes-container {
        display: none;
    }
    label {
        font-size: small;
    }
}
