<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <link rel="icon" type="image/svg+xml" href="/static/img/material/fact_check.svg">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Attestations faciles</title>
</head>

<body>
    <div id="box">
        {{> header}}
        <div id="box-content">
            {{> form}}
            {{> qrcodes}}
        </div>
    </div>
    {{> footer}}
</body>

<script src="../static/js/qrcode/qrcode.min.js"></script>
<script src="../static/js/index.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', initializeInteractiveElements());
    function initializeInteractiveElements(){
        // https://nosir.github.io/cleave.js/
        const options = {
            date: true,
            datePattern: ['d', 'm', 'Y'],
            dateMin: "1880-01-01",
            dateMax: "2022-01-01",
        };
        new Cleave('#birthday', options);

        // Materialize at https://materializecss.com/collapsible.html
        const collapsibleElements = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsibleElements, {});
        const tooltipElements = document.querySelectorAll('.tooltipped');
        M.Tooltip.init(tooltipElements, {enterDelay: 500, margin: 20});

        // https://clipboardjs.com/
        new ClipboardJS('.btn');
    }
    {{!-- https://geo.api.gouv.fr/communes?nom=Talen&fields=nom,code,codesPostaux&format=json&geometry=centre --}}
</script>

</html>